<form ng-submit="document.getElementById('send').click()">
  <label>Destination:</label>
  <input type="text" name="destination" placeholder="Recipient address" ng-model="transactionDetails.destination" required>
  <label>Amount:</label>
  <input type="text" name="amount" placeholder="Number of bitcoins to send" ng-model="transactionDetails.amount" required>
</form>
<button id="send" class="send sendViewButton sendButton" ng-click="updateTransactionDetails()" ng-morph-modal="send">SEND</button>

